* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro";
}

#label:hover #uploadIcon {
  top: 0;
  right: 0;
  bottom: 0;
}

.transform-cls {
  transform: translateY(calc(100% + 8px));
}

#maskList:hover #arrowIcon {
  scale: 1.2;
}

.popup-overlay {
  background-color: rgba(66, 48, 48, 0.5);
  backdrop-filter: blur(2px);
}